@model ChocolateTycoon.Models.Store

<br />

@if (!Model.AdequateStaff)
{
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Not enough employees. Restock and Sell are disabled!
    </div>
}
else if (!Model.AdequateChocolate && Model.CompletedDailySales)
{
    <div class="alert alert-success hidden" role="alert" id="sellSuccess">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        Store's daily sales completed! New Deposit @Model.Safe.Deposit
    </div>
}
else if (!Model.AdequateChocolate)
{
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Not enough chocolate. Please Restock in order to Sell!
    </div>
}
else
{
    <div class="alert alert-success hidden" role="alert" id="chocolateRestockSuccess">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        Chocolate restocked!
    </div>
}

<tr>
    <th style="text-align: center">Restock</th>
    <th style="text-align: center">Chocolate Stock</th>
    <th style="text-align: center">Sell</th>
    <th style="text-align: center">Total Employees</th>
    <th style="text-align: center">Managers</th>
    <th style="text-align: center">Sales Department</th>
</tr>

<tr>
    <td id="restock">
        @Html.ActionLink("Restock", "Restock", new { id = Model.ID },
       new { @class = "btn btn-link text-success", @style = "padding: 0"/*, @onclick = "restock()"*/})
    </td>
    <td>@Model.Stock</td>
    <td id="sell">
        @Html.ActionLink("Sell Chocolates", "SellChocolates", new { id = Model.ID },
       new { @class = "btn btn-link text-success", @style = "padding: 0"/*, @onclick = "dataReload();"*/})
        @*<p class="text-danger">@ViewBag.SellingProcess</p>*@
    </td>
    @{
        Html.RenderAction("StoreEmployees", new { id = Model.ID });
    }
</tr>

<script>
    //function dataReload() {
    //    $('#subTable').load("#subTable");
    //}


</script>



