@model ChocolateTycoon.ViewModels.StoreFormViewModel

<br/>

<p class="text-danger hidden" id="sellMessage" style="text-align: center">
    @if (!Model.Store.AdequateChocolate)
    {
        @Model.SellErrorStock;
    }
    else if (!Model.Store.AdequateStaff)
    {
        @Model.ErrorEmployees;
    }
    else
    {
        @Model.Success;
    }
</p>

<p class="text-danger hidden" id="stockMessage" style="text-align: center">
    @if (Model.Store.AdequateChocolate)
    {
        @Model.StockError;
    }
    else if (!Model.Store.AdequateStaff)
    {
        @Model.ErrorEmployees;
    }
    else
    {
        @Model.Success;
    }
</p>

<tr>
    <th style="text-align: center">Restock</th>
    <th style="text-align: center">Chocolate Stock</th>
    <th style="text-align: center">Sell</th>
    <th style="text-align: center">Total Employees</th>
    <th style="text-align: center">Managers</th>
    <th style="text-align: center">Sales Department</th>
</tr>

<tr>
    <td id="restock">
        @Html.ActionLink("Restock", "Restock", new { id = Model.Store.ID },
       new { @class = "btn btn-link text-success", @style = "padding: 0"/*, @onclick = "dataReload();" */})
    </td>
    <td>@Model.Store.Stock</td>
    <td id="sell">
        @Html.ActionLink("Sell Chocolates", "SellChocolates", new { id = Model.Store.ID },
       new { @class = "btn btn-link text-success", @style = "padding: 0"/*, @onclick = "dataReload();"*/})
        @*<p class="text-danger">@ViewBag.SellingProcess</p>*@
    </td>
    @{
        Html.RenderAction("StoreEmployees", new { id = Model.Store.ID });
    }
</tr>

@*<script>
    function dataReload() {
        $('#subTable').load("#subTable");
    }
</script>*@
