@model IEnumerable<ChocolateTycoon.Models.Store>
@{
    ViewBag.Title = "Index";
}

<h2>Stores</h2>

<hr />
<button type="button" class="btn-link">
    @Html.ActionLink("Create New", "Create")
</button>
<hr />

<table id="stores" class="table">
    <thead>
        <tr style="background-color: darkslategray">
            <th>Store Name</th>
            <th>Level</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            string selected = "";

            if (store.ID == ViewBag.SelectedId)
            {
                selected = "dimgrey";
            }

            <tr class=@selected>
                <td>@store.Name</td>
                <td>@store.Level</td>
                <td style="text-align: right">
                    @Html.ActionLink(" ", null, new { id = store.ID }, new
                    { @class = "glyphicon glyphicon-option-horizontal", @style = "text-decoration: none" })
                </td>
                <td style="text-align: right">
                    @Html.ActionLink(" ", "Edit", new { id = store.ID }, new
                    {
                        @class = "glyphicon glyphicon-cog text-warning",
                        @style = "text-decoration: none"
                    })
                </td>
                <td style="text-align: right">
                    <a href="#" class="glyphicon glyphicon-remove text-danger js-delete-store"
                       style = "text-decoration: none" data-store-id="@store.ID"></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (ViewBag.SelectedId != null)
{
    foreach (var store in Model)
    {
        if (ViewBag.SelectedId == store.ID)
        {
            {
                Html.RenderAction("Details", new { id = store.ID });
            }
        }
    }
}

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".js-delete-store").click(function (e) {
                var link = $(e.target);

                bootbox.dialog({
                    title: 'Confirm Deletion',
                    message: '<p>Are you sure you want to Delete this Store?</p>',
                    size: 'large',
                    onEscape: true,
                    backdrop: true,
                    buttons: {
                        no: {
                            label: 'Umm...maybe not',
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: 'Destroy it!',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/stores/" + link.attr("data-store-id"),
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        link.parents("tr").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Bad very bad");
                                    });
                            }
                        }
                    }
                });
            });
        });
    </script>
}
