@model ChocolateTycoon.Models.Store
@{
    ViewBag.Title = "StoreForm";
}

<h2>Build a new Store or Update info</h2>

@using (Html.BeginForm("Save", "Store"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(v => v.Name)
        @Html.TextBoxFor(v => v.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Level)
        @Html.TextBoxFor(v => v.Level, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(v => v.ID)
    <button type="submit" class="btn btn-primary">Save</button>
}

