@model ChocolateTycoon.Models.Factory

<h2>Factory</h2>
<hr />
<h4>Delete</h4>
<hr />

<table class="table table-condensed">
    <tr style="background-color: darkslategray">
        <th>Name</th>
        <th>Level</th>
        <th>Production per Day</th>
        <th>Raw Materials Stored</th>
        <th>Personel Employed</th>
    </tr>

    <tr>
        <td>@Html.DisplayFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.Level)</td>
        @if (Model.ProductionUnit != null)
        {
            <td>@Html.DisplayFor(model => model.ProductionUnit.MaxProductionPerDay)</td>
        }
        else
        {
            <td>Production Unit not available</td>
        }

        @if (Model.StorageUnit != null)
        {
            <td>@Html.DisplayFor(model => model.StorageUnit.RawMaterialAmount)</td>
        }
        else
        {
            <td>Storage Unit not available</td>
        }

        <td>@Model.Employees.Count()</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button id="js-delete" type="submit" class="btn btn-primary">
        Delete
    </button>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            let button = $("#js-delete");

            button.on("click", function (e) {
                e.preventDefault();

                bootbox.confirm({
                    closeButton: false,
                    message: "Demolish this Factory?" + "<br/>" +
                        "<span class='text-danger'>All associated resources will perish!</span>",
                    buttons: {
                        confirm: {
                            label: 'Down with it!',
                            className: 'btn-danger pull-left'
                        },
                        cancel: {
                            label: 'Let it stand!',
                            className: 'btn-success pull-right'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            button.closest("form").submit();
                        };
                    },
                    size: "small"
                });
            });
        });
    </script>
}