@model ChocolateTycoon.Models.Factory


<br />

<tr>
    <td colspan="2" style="text-align: center">Production per Day (units)</td>
    <td style="text-align: center">Products Stored</td>
    <td style="text-align: center">Raw Materials (Kg)</td>
    <td style="text-align: center">Total</td>
    <td style="text-align: center">Managers</td>
    <td style="text-align: center">Production</td>
</tr>

<tr>
    <td>
        @Html.DisplayFor(model => model.ProductionUnit.MaxProductionPerDay)
    </td>
    <td>
        @Html.ActionLink("produce", "Produce", new { id = Model.ID }, new { @class = "btn btn-link text-success", @style = "padding: 0" })
        <p class="text-danger">@ViewBag.ProductionError</p>
    </td>
    <td>
        @Html.DisplayFor(model => model.StorageUnit._productsStored)
    </td>
    <td>
        @Html.DisplayFor(model => model.StorageUnit.RawMaterialAmount)
    </td>
    @{
        Html.RenderAction("FactoryEmployees", new { id = Model.ID });
    }
</tr>