@model ChocolateTycoon.Models.Factory


<h2>Factory</h2>
<hr />

@{
    string title = (Model == null) ? "Create" : "Edit";

    <h4>@title</h4>
}
<hr />

@using (Html.BeginForm("Save", "Factory"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    if (Model != null)
    {
        @Html.HiddenFor(model => model.ID)
    }
    
    <button id="saveButton" type="submit" class="btn btn-primary">
        Pay 2000<i class="glyphicon glyphicon-bitcoin"></i>
    </button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

