@model ChocolateTycoon.ViewModels.FactoryViewModel

@{
    ViewBag.Title = "Factory Form";
}

<h2 style="padding-top: 10px">Factory</h2>
<hr />

@{
    string title = (Model == null) ? "Create" : "Edit";

    <h4>@title</h4>
}
<hr />

@using (Html.BeginForm("Save", "Factory"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Factory.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Factory.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Factory.Name, "", new { @class = "text-danger" })
    </div>

    <table>
        <tr>
            <td>
                @{
                    var text = "";
                    if (Model != null)
                    {
                        @Html.HiddenFor(model => model.Factory.ID)
                        text = "Save changes";
                    }
                    else
                    {
                        text = "Pay the man!";
                    }
                }
                <button type="submit" class="btn btn-success btn-sm" style="margin-right: 15px">
                    @text
                </button>
            </td>

            <td>
                @Html.ActionLink("Take me back!", "Index", null, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

