@model IEnumerable<ChocolateTycoon.Models.Factory>

@{
    ViewBag.Title = "Index";
}

<h2>Factories</h2>

<hr />
<button type="button" class="btn-link">
    @Html.ActionLink("Create", "Create")
</button>
<hr />

<table class="table">
    <tr>
        <th>Name</th>
        <th>Level</th>
    </tr>

    @foreach (var item in Model)
    {
        string selected = "";

        if (item.ID == ViewBag.SelectedId)
        {
            selected = "success";
        }

        <tr class=@selected>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Level)</td>
            <td>@Html.ActionLink("Details", null, new { id = item.ID }, new { @style = "text-decoration: none" })</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @style = "text-decoration: none" })</td>
            <td style="text-align: right">@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "text-danger",
                                            @style = "text-decoration: none;" })</td>
        </tr>
    }
</table>

@if (ViewBag.SelectedId != null)
{
    foreach (var item in Model)
    {
        if (ViewBag.SelectedId == item.ID)
        {
            {
                Html.RenderAction("Details", new { id = item.ID });
            }
        }
    }
}
