@model IEnumerable<ChocolateTycoon.Models.Factory>

@{
    ViewBag.Title = "Factories";
}

<div class="container container-fluid">
    <div class="row">
        <h2>
            Factories
            <span type="button" class="btn btn-link btn-lg" style="padding-left: 15px">
                @Html.ActionLink(" ", "Create", null, new
            {
               @id = "createBtn",
               @class = "glyphicon glyphicon-plus",
               @style = "text-decoration: none"
            })
            </span>
        </h2>
    </div>
</div>

<div class="container container-fluid">
    <div id="messageContainer" class="row text-center">
        <div id="errorContainer" class="row text-danger hidden" style="padding: 0; margin: 0 5px">
            <h3 class="glyphicon glyphicon-exclamation-sign"></h3>
            <span id="errorMessage" style="padding-left: 10px;">@ViewBag.Message</span>
        </div>
        <div id="infoContainer" class="row text-warning hidden">
            <h3 class="glyphicon glyphicon-info-sign"></h3>
            <span id="infoMessage" style="padding-left: 10px;">@ViewBag.MainStorageInfo</span>
        </div>

    </div>
</div>

<table class="table">
    <tr style="        background-color: darkslategray
">
        <th>Name</th>
        <th>Level</th>
        <th colspan="3"></th>
    </tr>

    @foreach (var factory in Model)
    {
        string selected = "";

        if (factory.ID == ViewBag.SelectedId)
        {
            selected = "dimgrey";
        }

        <tr style="background-color: @selected">
            <td>@Html.DisplayFor(modelItem => factory.Name)</td>
            <td>@Html.DisplayFor(modelItem => factory.Level)</td>
            <td style="text-align: right">
                @Html.ActionLink(" ", null, new { id = factory.ID }, new
                {
                    @class = "glyphicon glyphicon-option-horizontal",
                    @style = "text-decoration: none"
                })
            </td>
            <td style="text-align: right">
                @Html.ActionLink(" ", "Edit", new { id = factory.ID }, new
                {
                    @class = "glyphicon glyphicon-wrench text-warning",
                    @style = "text-decoration: none"
                })
            </td>
            <td style="text-align: right">
                @Html.ActionLink(" ", "Delete", new { id = factory.ID }, new
                {
                    @class = "glyphicon glyphicon-remove text-danger",
                    @style = "text-decoration: none"
                })
            </td>
        </tr>
    }
</table>

@if (ViewBag.SelectedId != null)
{
    <table class="table table-bordered text-center">
        <tr style="background-color: darkslategrey">
            <th colspan="3" style="text-align: center">Storage</th>
            <th colspan="2" style="text-align: center">Production</th>
            <th colspan="2" style="text-align: center">Personel</th>
        </tr>

        @foreach (var factory in Model)
        {
            if (ViewBag.SelectedId == factory.ID)
            {
                {
                    Html.RenderAction("Details", new { id = factory.ID });
                }
            }
        }
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            let button = $('#createBtn');

            $(button).on("click", function (e) {
                e.preventDefault();
                let self = this;
                bootbox.confirm({
                    closeButton: false,
                    size: 'small',
                    message: "<p class='text-warning'>Costs 2000 <i class='glyphicon glyphicon-bitcoin'></i></p> Proceed?",
                    callback: function (result) {
                        if (result)
                            window.location = self.href;
                    }
                });
            });

            let messageContainer = $("#messageContainer");
            let errorMessage = $("#errorMessage").text();
            let infoMessage = $("#infoMessage").text();

            if (errorMessage.length > 0) {
                $("#errorContainer").toggleClass("hidden").hide().slideDown();
            };

            if (infoMessage.length > 0) {
                $("#infoContainer").toggleClass("hidden").hide().slideDown();
            };

        });
    </script>
}
