@model IEnumerable<ChocolateTycoon.Models.Factory>

@{
    ViewBag.Title = "Factories";
}

<h2>Factories</h2>

<hr />
<div class="container container-fluid">
    <div class="row">
        <div class="col col-sm-6">
            <button type="button" class="btn-link btn-lg" style="padding: 0 20px">
                @Html.ActionLink(" ", "Create", null, new
           {
               @id = "createBtn",
               @class = "glyphicon glyphicon-plus",
               @style = "text-decoration: none"
           })
            </button>
        </div>
        <div class="col col-sm-6 text-danger " style="text-align: end; font-weight: bold; font-style: italic">
            <p class="@(ViewBag.Message != null ? "glyphicon glyphicon-exclamation-sign" : "")" style="font-size: 15pt;"></p>
            <span style="margin: 0 20px 0 10px;">@ViewBag.Message</span>
        </div>
    </div>
</div>

<hr />

<table class="table">
    <tr style="background-color: darkslategray">
        <th>Name</th>
        <th>Level</th>
        <th colspan="3"></th>
    </tr>

    @foreach (var factory in Model)
    {
        string selected = "";

        if (factory.ID == ViewBag.SelectedId)
        {
            selected = "dimgrey";
        }

        <tr style="background-color: @selected">
            <td>@Html.DisplayFor(modelItem => factory.Name)</td>
            <td>@Html.DisplayFor(modelItem => factory.Level)</td>
            <td style="text-align: right">
                @Html.ActionLink(" ", null, new { id = factory.ID }, new
                {
                    @class = "glyphicon glyphicon-option-horizontal",
                    @style = "text-decoration: none"
                })
            </td>
            <td style="text-align: right">
                @Html.ActionLink(" ", "Edit", new { id = factory.ID }, new
                {
                    @class = "glyphicon glyphicon-wrench text-warning",
                    @style = "text-decoration: none"
                })
            </td>
            <td style="text-align: right">
                @Html.ActionLink(" ", "Delete", new { id = factory.ID }, new
                {
                    @class = "glyphicon glyphicon-remove text-danger",
                    @style = "text-decoration: none"
                })
            </td>
        </tr>
    }
</table>

@if (ViewBag.SelectedId != null)
{
    <table class="table table-bordered text-center">
        <tr style="background-color: darkslategrey">
            <th colspan="3" style="text-align: center">Storage</th>
            <th colspan="2" style="text-align: center">Production</th>
            <th colspan="2" style="text-align: center">Personel</th>
        </tr>

        @foreach (var factory in Model)
        {
            if (ViewBag.SelectedId == factory.ID)
            {
                {
                    Html.RenderAction("Details", new { id = factory.ID });
                }
            }
        }
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            let button = $('#createBtn');

            $(button).on("click", function (e) {
                e.preventDefault();
                let self = this;
                bootbox.confirm({
                    closeButton: false,
                    size: 'small',
                    message: "<p class='text-warning'>Costs 2000 <i class='glyphicon glyphicon-bitcoin'></i></p> Proceed?",
                    callback: function (result) {
                        if (result)
                            window.location = self.href;

                    }
                });




            });
        });
    </script>
}
