@model ChocolateTycoon.ViewModels.MainStorageViewModel

@{
    ViewBag.Title = "Main Storage";
}

<h2 style="padding-top: 10px">Main Storage</h2>
    <hr />
    <h4>Inventory Report</h4>
    <hr />

<div class="container-fluid text-center">
    <table id="table" class="table table-hover">
        <thead style="background-color: darkslategray; font-weight: bold">
            <tr>
                <td rowspan="2">Storage Sections</td>
                <td colspan="3">Storage Space (pcs)</td>
            </tr>
            <tr>
                <td>Occupied</td>
                <td>Available</td>
                <td>Maximum</td>
            </tr>
        </thead>

        @for (int i = 0; i < Model.availableChocolates.Count; i++)
        {
            var types = Enum.GetNames(typeof(ChocolateTycoon.Models.ChocolateType));
            var names = Model.enumNames;

            <tr>
                <th>@names[i] Chocolate</th>
                <td style="text-align: center">
                    @Model.availableChocolates[types[i]]
                </td>
                <td style="text-align: center">
                    @Model.availableStorage[types[i]]
                </td>
                <td>
                    @Model.MainStorage.maxPerShelf
                </td>
            </tr>
        }

        <tr style="font-size: 13pt; color: darkorange">
            <th>Total</th>
            <td style="font-weight: bold">@Model.Chocolates.Count()</td>
            @{
                int total = 0;

                foreach (var value in Model.availableStorage.Values)
                {

                    total += value;
                }

                <td style="font-weight: bold">@total</td>
            }

            <td style="font-weight: bold">@Model.MainStorage.MaxStorage</td>
        </tr>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#table').dataTable({
                "order": [[2, "asc"]],
                "columnDefs": [{ "orderable": false, "targets": 0 }],
                "searching": false,
                "paging": false,
                "bInfo": false
            });
        });
    </script>
}
