@model ChocolateTycoon.Models.Employee

@{
    ViewBag.Title = "Employee Form";
}

<h2>Employee</h2>
<hr />

@{
    string title = (Model == null) ? "Create" : "Edit";

    <h4>@title</h4>
}
<hr />

@using (Html.BeginForm("Save", "Employee"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Position, new { @class = "control-label" })
        @Html.EnumDropDownListFor(model => model.Position, new { @class = "form-control", @id = "drop" })
    </div>
    
    <div id="factoryChoice" class="form-group">
        @Html.Label("Assign to Factory")
        @Html.DropDownListFor(model => model.FactoryID, (SelectList)ViewBag.Factories, "Select", new { @class = "form-control" })
    </div>

    <div id="storeChoice" class="form-group">
        @Html.Label("Assign to Store")
        @Html.DropDownListFor(model => model.StoreID, (SelectList)ViewBag.Stores, "Select", new { @class = "form-control" })
    </div>

    if (Model != null)
    {
        @Html.HiddenFor(model => model.Id)
    }

    <button class="btn btn-primary" type="submit">
        Save
    </button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            let drop = $("#drop");

            if (drop.val() == 0 || drop.val() == 3) {
                $("#factoryChoice").show();
                $("#storeChoice").hide();
            }
            else {
                $("#factoryChoice").hide();
                $("#storeChoice").show();
            };

            $("#drop").change(function () {
                if (drop.val() == 0 || drop.val() == 3) {
                    $("#factoryChoice").show();
                    $("#storeChoice").hide();
                }
                else {
                    $("#factoryChoice").hide();
                    $("#storeChoice").show();
                }
            });
        });
    </script>
}

