@model ChocolateTycoon.Models.Employee

@{
    ViewBag.Title = "Employee Form";
}

<h2>Employee</h2>
<hr />

@{
    string title = (Model == null) ? "Create" : "Edit";

    <h4>@title</h4>
}
<hr />

@using (Html.BeginForm("Save", "Employee"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Position, new { @class = "control-label" })
        @Html.EnumDropDownListFor(model => model.Position, new { @class = "form-control" })
    </div>

    if (Model != null)
    {
        @Html.HiddenFor(model => model.Id)

        if (Model.Position == ChocolateTycoon.Models.EmployeePosition.FactoryManager || Model.Position == ChocolateTycoon.Models.EmployeePosition.ProductionEngineer)
        {
            <div class="form-group">
                @Html.DropDownListFor(model => model.FactoryID, ViewBag.Factories as SelectList, new { @class = "form-control" })
            </div>
        }

    }

    <button class="btn btn-primary" type="submit">
        Save
    </button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

