@model ChocolateTycoon.ViewModels.EmployeeFormViewModel

@{
    ViewBag.Title = "Employee Form";
}

<h2 style="padding-top: 10px">Employee</h2>
<hr />

@{
    string title = (Model.Employee == null) ? "Create" : "Edit";

    <h4>@title</h4>
}
<hr />

@if (Model._errorMessage != null)
{
    <p class="text-danger">@Model._errorMessage</p>
}


@using (Html.BeginForm("Save", "Employee"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Employee.FirstName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Employee.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Employee.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Employee.LastName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Employee.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Employee.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Employee.Position, new { @class = "control-label" })
        @Html.EnumDropDownListFor(model => model.Employee.Position, new
            {
                @class = "form-control",
                @id = "drop"
            })
    </div>

    <div id="factoryChoice" class="form-group">
        @Html.Label("Assign to Factory")
        @Html.DropDownListFor(model => model.Employee.FactoryID,
            new SelectList(Model.Factories, "ID", "Name"), "Select",
            new { @class = "form-control" }
        )
    </div>

    <div id="storeChoice" class="form-group">
        @Html.Label("Assign to Store")
        @Html.DropDownListFor(model => model.Employee.StoreID,
            new SelectList(Model.Stores, "ID", "Name"),
            "Select", new { @class = "form-control" }
        )
    </div>

    if (Model.Employee != null)
    {
        @Html.HiddenFor(model => model.Employee.Id)
    }

    <table>
        <tr>
            <td>
                <button type="submit" class="btn btn-success btn-sm" style="margin-right: 15px">
                    Save
                </button>
            </td>

            <td>
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            let drop = $("#drop");

            if (drop.val() == 0 || drop.val() == 3) {
                $("#factoryChoice").show();
                $("#storeChoice").hide();
            }
            else {
                $("#factoryChoice").hide();
                $("#storeChoice").show();
            };

            $("#drop").change(function () {
                if (drop.val() == 0 || drop.val() == 3) {
                    $("#factoryChoice").show();
                    $("#storeChoice").hide();
                }
                else {
                    $("#factoryChoice").hide();
                    $("#storeChoice").show();
                }
            });
        });
    </script>
}

