@model ICollection<ChocolateTycoon.Models.Employee>


@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>
<hr />
<button type="button" class="btn-link">@Html.ActionLink("Create", "Create")</button>
<hr />

<table class="table table-hover">

    <tr style="background-color: darkslategray">
        <th>FullName</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Working place</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FullName</td>

            @using ChocolateTycoon.Helpers
            <td>@item.Position.GetDisplayName()</td>

            <td>@item.Salary</td>
            <td>
                @if (item.FactoryID != null)
                {
                    @Html.DisplayFor(modelItem => item.Factory.Name)<text> Factory</text>
                }
                else if (item.StoreID != null)
                {
                    @Html.DisplayFor(modelItem => item.Store.Name)<text> Store</text>
                }
                else
                {
                    <span class="text-danger">Unasigned</span>
                }
            </td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-link text-warning", @style = "padding: 0" })</td>
        </tr>
    }












</table>

