@model ICollection<ChocolateTycoon.Core.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<div class="container container-fluid">
    <div class="row">
        <h1>
            Employees
            <span type="button" class="btn btn-link btn-lg">
                @Html.ActionLink(" ", "Create", null, new { @id = "createNewEmployeeButton", @class = "far fa-plus-square newEnityCreactionButton" })
            </span>
        </h1>
    </div>
</div>

<table id="table" class="table table-striped table-hover">

    <tr class="warning">
        <th>FullName</th>
        <th>Position</th>
        <th>Daily Wage</th>
        <th>Working place</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><i class="fas fa-walking"></i> @item.FullName</td>

            @using ChocolateTycoon.Helpers
            <td>@item.Position.GetDisplayName()</td>

            <td>@item.Salary <i class="fas fa-coins"></i></td>

            <td>
                @if (item.FactoryID != null)
                {
                    <i class="fas fa-industry"></i> @Html.DisplayFor(modelItem => item.Factory.Name)<text> Factory</text>
                }
                else if (item.StoreID != null)
                {
                    <i class="far fa-building"></i> @Html.DisplayFor(modelItem => item.Store.Name)<text> Store</text>
                }
                else
                {
                    <span class="label label-danger"><i class="fas fa-exclamation-triangle"></i> Unassigned</span>
                }
            </td>

            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fas fa-user-edit text-warning", @style = "text-decoration: none" })
            </td>

            <td>
                @using (Html.BeginForm("Delete", "Employee", new { id = item.Id }, FormMethod.Post, new { @class = "del-form" }))
                {
                    @Html.AntiForgeryToken()

                    <button id="btn" class="btn btn-link" type="submit" style="padding: 0;">
                        <i class="fas fa-trash-alt text-danger"></i>
                    </button>
                }
            </td>
        </tr>
    }
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".del-form").on("click", "#btn", function (e) {
                var button = this;
                e.preventDefault();

                bootbox.confirm({
                    size: "small",
                    closeButton: false,
                    message: "Send this employee to" + "<br/>" + "unemployment office?",
                    buttons: {
                        confirm: {
                            label: 'Sack them!',
                            className: 'btn-danger pull-left'
                        },
                        cancel: {
                            label: 'Spare them!',
                            className: 'btn-success pull-right'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            button.form.submit();
                        };
                    }
                });
            });
        });
    </script>
}

