@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav   nav-btn  navbar-right" id="userLogin">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" role="button"
               aria-haspopup="true"
               aria-expanded="false">
                Player
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("New Player", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <hr style="margin-bottom: 1px; margin-top: 10px;" />
                <span class="label label-info" id="musicLabel">Music ON/OFF</span>
                <li>@Html.ActionLink("New Game", "ResetGame", "Game", null, new { @id = "resetGame" })</li>
            </ul>
        </li>
    </ul>
    @*<ul class="nav navbar-nav">
              <li>@html.actionlink("register", "register", "account", routevalues: null, htmlattributes: new { id = "registerlink" })</li>
              <li>@html.actionlink("log in", "login", "account", routevalues: null, htmlattributes: new { id = "loginlink" })</li>
        </ul>*@
}

@section scripts
{
    <script>
                        //let resetGame = document.getElementById("#resetGame");

        // Bootbox confirmation for game reset.
       
        //resetGame.addEventListener("click", function (e) {
        //    e.preventDefault();



        
    </script>
    }